.preview{
	background:rgb(235,235,235);

	height:630px;

	position:relative;
}
@media screen and (max-height: 820px){
	.preview{height:610px;}
}
@media screen and (max-height: 800px){
	.preview{height:590px;}
}
@media screen and (max-height: 780px){
	.preview{height:570px;}
}
@media screen and (max-height: 760px){
	.preview{height:550px;}
}
@media screen and (max-height: 740px){
	.preview{height:530px;}
}
@media screen and (max-height: 720px){
	.preview{height:510px;}
}
@media screen and (max-height: 700px){
	.preview{height:490px;}
}
@media screen and (max-height: 680px){
	.preview{height:470px;}
}
@media screen and (max-height: 660px){
	.preview{height:450px;}
}
@media screen and (max-height: 640px){
	.preview{height:430px;}
}
@media screen and (max-height: 620px){
	.preview{height:410px;}
}

.preview .images{
	position:absolute;
	top:0px;
	right:0px;

	width:100%;
	height:100%;

	overflow:hidden;
}
.preview .images .scroller{
	position:relative;
	top:0px;

	height:100%;

	-webkit-transition:top 1000ms cubic-bezier(0.88, 0, 0.3, 1);
	-moz-transition:top 1000ms cubic-bezier(0.88, 0, 0.3, 1);
	-mos-transition:top 1000ms cubic-bezier(0.88, 0, 0.3, 1);
	-o-transition:top 1000ms cubic-bezier(0.88, 0, 0.3, 1);
	transition:top 1000ms cubic-bezier(0.88, 0, 0.3, 1);
}
.preview .images .scroller div{
	display:block;

	height:100%;

	background-size:cover;
}

.preview .tags{
	display:inline-block;

	font-family:'Roboto Mono', monospace;
	text-align:left;

	margin:30px;
	height:90px;
	line-height:90px;

	overflow:hidden;

	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
}
.preview .tags .scroller{
	position:relative;

	height:100%;

	top:0px;
	-webkit-transition:top 1200ms cubic-bezier(0.88, 0, 0.3, 1);
	-moz-transition:top 1200ms cubic-bezier(0.88, 0, 0.3, 1);
	-mos-transition:top 1200ms cubic-bezier(0.88, 0, 0.3, 1);
	-o-transition:top 1200ms cubic-bezier(0.88, 0, 0.3, 1);
	transition:top 1200ms cubic-bezier(0.88, 0, 0.3, 1);
}

.preview .tag{
	display:block;

	position:relative;

	height:100%;

	background:rgb(255,255,255);
}
.preview .tag img{
	position:absolute;
	top:0px;
	left:0px;

	height:100%;

	background:rgb(240,240,240);

	z-index:1;
}
.preview .tag .content{
	margin-left:90px;
	max-width:330px;

	line-height:initial;

	vertical-align:middle;
	display:inline-block;

	padding:0px 20px;
}
.preview .tag h1{
	display:inline-block;

	margin:0px;
	padding:0px;
	padding-bottom:6px;

	font-size:16px;
	font-weight:700;
}
.preview .tag h2{
	margin:0px;
	padding:0px;

	font-size:12px;
	font-weight:400;
}

.preview .controls{
	position:absolute;
	right:0px;
	bottom:0px;

	margin:30px;

	background:rgb(255,255,255);

	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
}
.preview .controls div{
	padding:4px 6px;

	cursor:pointer;

	position:relative;
	left:0px;

	-webkit-transition:left 200ms;
	-moz-transition:left 200ms;
	-mos-transition:left 200ms;
	-o-transition:left 200ms;
	transition:left 200ms;

	color:rgb(71,71,71);
}
.preview .controls div:hover{
	color:rgb(0,0,0);
}
.preview .controls div:first-child:hover{
	left:-3px;
}
.preview .controls div:last-child:hover{
	left:3px;
}

.skills{
	padding:40px 100px 40px 20px;
}
.skills .skill{
	display:inline-block;

	margin:16px;

	font-size:13px;
	font-weight:700;

	line-height:20px;
}
.skills .skill .slider{
	height:20px;
	width:200px;

	background:rgb(255,255,255);

	overflow:hidden;
}
.skills .skill bar{
	display:block;
	height:100%;

	background:rgb(203,78,78);
}

.arrow{
	text-align:center;

	padding:28px 0px 0px 0px;

	font-family: 'Roboto Mono', monospace;
	font-size:18px;
	font-weight:400;

	color:rgb(102,102,102);
}

@media screen and (max-width: 1250px){
	.skills{
		padding:20px 70px 20px 20px;
	}
	.skills .skill .slider{
		width:160px;
	}
}
@media screen and (max-width: 1090px){
	.arrow{
		background:rgb(235,235,235);
	}

	.skills{
		padding:30px 20px;

		text-align:center;

		background:rgb(200,200,200);
	}
	.skills .skill{
		text-align:left;
	}
}
@media screen and (max-width: 450px){
	.arrow{
		display:none;
	}

	.skills{
		background:rgb(235,235,235);
	}
	.skills .skill{
		margin:6px;
	}
	.skills .skill .slider{
		width:100px;
	}

	.preview{
		display:none;
	}
}
